body {
    background: rgb(84, 209, 84);
}
/* nav */

.topnav {
    background:palevioletred;
    width: 100%;
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.topnav a{
    margin: 5px;
    font-family: 'Rubik';
    font-style: bold;
    font-size: 20px;
    text-decoration: none;
    color:rgb(245, 166, 193);
}
.topnav a:hover {
    color:rgb(243, 199, 214);
}
.topnav a:active {
    color: white;
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}
/* header */

header {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    margin-top: 20px;
}

h1 {
    color: rgb(221, 189, 5);
    font-family: 'Rubik';
    font-style: bold;
    font-size: 90px;
}
/* main */

p {
    font-family: 'Rubik';
    font-style: bold;
    font-size: 50px;
    text-align: center;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: greenyellow;
}
.blue {
    color: rgb(14, 120, 219);
}
.purple {
    color: rgb(241, 7, 241);
}
.yellow {
    color: yellow;
}.pink {
    color: pink;
}
/* buttons */
.buttonsection {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    border: none;
    border-radius: 10px;
    font-family: 'Rubik';
    font-style: bold;
    font-size: 50px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
}
button:hover {
    cursor: pointer;
    transition-duration: 0.9s;
}
.btnyes {
    background: palevioletred;
    color:rgb(245, 166, 193);
}
.btnyes:hover {
    background: rgb(245, 166, 193);
    color: palevioletred;
}
.btnno {
    background: gray;
    color:white;
}
.btnno:hover {
    background: white;
    color: gray;
}
.btntext {
    font-size: 20px;
}
/* footer */

footer {
    background:palevioletred;
    width: 100%;
    height: 70px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.contacttext {
    font-size: 30px;
    color: rgb(245, 166, 193);
}